@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {    
  
  .scroll {
    scrollbar-width: thin;
    scrollbar-color: #A1A1A5 #E5E5E5
  } 
  
  html.dark {
    scrollbar-color: #000000 #262626;
  }
}

*{
  scroll-behavior: smooth;
}