@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-background: #121214;
  --scroll-thumb-background: #000;
}

@view-transition {
  navigation: auto;
}

@layer utilities {


  * {
    scroll-behavior: smooth;
  }

  html {
    scrollbar-gutter: stable both-edges;
  }

  @supports selector(::-webkit-scrollbar) {
    html::-webkit-scrollbar {
      width: 0.5rem;
    }

    html::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb-background);
      border-radius: 0.1875rem;
    }

    html::-webkit-scrollbar-track {
      background-color: var(--scroll-background);
    }
  }

  @keyframes fade-in-from-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-out-from-right {
    from {
      transform: translateX(0%);
      opacity: 1;
    }

    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes fade-in-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }

    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes fade-out-from-left {
    from {
      transform: translateX(0%);
      opacity: 1;
    }

    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  ::view-transition-old(.fade-right) {
    animation-duration: 500ms;
    animation-name: fade-out-from-right;
  }

  ::view-transition-new(.fade-right) {
    animation-duration: 500ms;
    animation-name: fade-in-from-right;
  }

  ::view-transition-old(.fade-left) {
    animation-duration: 500ms;
    animation-name: fade-out-from-left;
  }

  ::view-transition-new(.fade-left) {
    animation-duration: 500ms;
    animation-name: fade-in-from-left;
  }

  ::view-transition-old(.fade-out-right) {
    animation-duration: 500ms;
    animation-name: fade-out-from-left;
  }

  ::view-transition-new(.fade-out-right) {
    animation-duration: 500ms;
    animation-name: fade-in-from-left;
  }

  ::view-transition-old(.fade-out-left) {
    animation-duration: 500ms;
    animation-name: fade-out-from-right;
  }

  ::view-transition-new(.fade-out-left) {
    animation-duration: 500ms;
    animation-name: fade-in-from-right;
  }

}

@layer components {
  .main-blur-background {
    backdrop-filter: blur(10px);
  }

  .subtitle {
    @apply bg-subtitle bg-clip-text animate-rotate;
    -webkit-text-fill-color: transparent;
  }
}