@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-background: #121214;
  --scroll-thumb-background: #000;
}


@layer utilities {
  * {
    scroll-behavior: smooth;
  }

  html {
    scrollbar-gutter: stable both-edges;
  }

  @supports selector(::-webkit-scrollbar) {
    html::-webkit-scrollbar {
      width: 0.5rem;
    }

    html::-webkit-scrollbar-thumb {
      background-color: var(--scroll-thumb-background);
      border-radius: 0.1875rem;
    }

    html::-webkit-scrollbar-track {
      background-color: var(--scroll-background);
    }
  }


}

@layer components {
  .main-blur-background {
    backdrop-filter: blur(10px);
  }

  .subtitle {
    @apply bg-subtitle bg-clip-text animate-rotate;
    -webkit-text-fill-color: transparent;
  }
}